extends layout

block styles
    link(rel='stylesheet', href='/css/posts.css')
block customScripts
    script(src='/js/form-submitters/mainSubmitter.js')
block content
    .posts-container
        include modals/post
        #all-posts
        - each post in posts
            include post