extends layout

block styles
    link(rel='stylesheet', href='/css/posts.css')
block content
    div.posts-container
        include modals/post
        - each post in posts
            div.post
                div.post-text=post.text
                div.post-user Posted by #{post.user.username}