.posts-container {
    max-width: 650px;
    margin: auto;
    margin-bottom: 20px;
    background: white;
    border-radius: 3px;
    padding: 0;
    margin-top: 5%;
    box-shadow: gray 0 0 30px;
}

.title {
    color: #222222;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Oxygen', sans-serif;
}

.post {
    border-bottom: thin solid gray;
    padding: 15px;
}

.post-text {
    font-size: 14px;
}

.post-user {
    font-size: 10px;
    color: gray;
}

.post:last-of-type {
    border-bottom: none;
}

form {
    padding: 15px 0 0 15px;
    margin: 0;
}

textarea {
    width: 95%;
}

.like {
    display: inline-block;
}