
#new-post-container
    form(method='post', action="/posts", data-refresh-id="all-posts")
        fieldset
            #body-cg.control-group
                textarea#body-ta(name='text')
                button(type='submit').btn.span2 Post